@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.container {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-index {
  flex-grow: 1;
}

.visually-hidden{
  display: none;
}

.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  margin-left: 70px;
}

.navigation-list {
  margin: 0 30px;
  padding: 20px 16px;
  width: 439px;
}

.navigation-users {
  max-width: 308px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.hero {
  color:#333333;
  background-color: #333333;
  background-image: url("../images/main/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.title-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.navigation-like {
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 10px;
  font-weight: 400;
}


.advantages-item-img {
  color:#FFFFFF;
  background-color: #82B3D3;
}

.advantages-title {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
}

.advantages-item:nth-child(even) {
  background-color: #83B3D31F;
  color: #000000;
}

.advantages-item:nth-child(3n) {
  background-color: #83B3D333;
  color: #000000;
}

.infrastructure-list {
  text-align: center;
}

.infrastructure-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.infrastructure-item:nth-child(even) {
  background-color: #83B3D333;
}

.search-hotel {
  text-align: center;
}

.search-hotel-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  }

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  }

.newsletter-images {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/main/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  border: #82B3D3;
  text-transform: uppercase;
}

.page-footer {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.social-list {
  width: 150px;
  margin-left: 70px;
  margin-right: 42px;
}

.number-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.logo-img {
  margin-left: auto;
  max-width: 140px;
}

.main-inner {
  flex-grow: 1;
}

.main-inner-style {
  background-image: url("../images/main/blurheadersedona.jpg");
  background-color: #333333;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;

}

.breadcrumbs {
  font-size: 16px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.catalog-filter-list {
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

.catalog-button-submit {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: 0;
}

.catalog-button-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  background: none;
  border: 0;
}

.range-input {
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.catalog-products {
  margin-left: 70px;
}

.catalog-products-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}


.product-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.button-favorite {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  border: 0;
}

.button-favorite-selected {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  border: 0;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  text-decoration: none;
  border: 0;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-dots {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
